{% load static %}
{% block content %}

    <!-- Base Start -->
    {% include 'base.html' %}
    <!-- Base End -->

    <!-- Navbar Start -->
    {% include 'navbar.html' %}
    <!-- Navbar End -->

    <section id="services">
        <div class="pro-container">
            <div class="pro">
                <img src="{% static 'images/agendadd.png' %}" alt="agendacadastrar">
                <div class="des">
                    <a href="{% url 'cad_agenda' %}">Novo Horário</a>
                </div>
            </div>
            <div class="pro">
                <img src="{% static 'images/agendapesquisa.png' %}" alt="agendapesquisa">
                <div class="des">
                    <a href="{% url 'cons_agenda' %}">Consultar Horários</a>
                </div>
            </div>
        </div>
    </section>

    <!-- Footer Start -->
    {% include 'footer.html' %}
    <!-- Footer End -->

{% endblock %}
</body>
</html>