{% load static %}
{% block content %}
{% load bootstrap5 %}

    <!-- Base Start -->
    {% include 'base.html' %}
    <!-- Base End -->

    <!-- Navbar Start -->
    {% include 'navbar.html' %}
    <!-- Navbar End -->

    <div class="container div-margin">
        <h1>Novo Horário</h1>
        {% bootstrap_messages %}
        <form action="{% url 'cad_agenda' %}" method="post" class="form">
            {% csrf_token %}

            {% bootstrap_form form %}

            {% buttons %}
                <button type="submit" class="btn btn-danger">Cadastrar Horário</button>
            {% endbuttons %}
        </form>
    </div>

    <!-- Footer Start -->
    {% include 'footer.html' %}
    <!-- Footer End -->


{% endblock %}

</body>
</html>