{% load static %}
{% block content %}

<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Auto Escola do Lemão</title>
    <link rel="stylesheet" href="{% static 'style/style.css' %}">
</head>
<body>

    <!-- Navbar Start -->
    {% include 'navbar.html' %}
    <!-- Navbar End -->
    
    {% if messages %}
        <ul class="mensagem_do_servidor" style="background: #7d7f81; padding: 24px; text-align:center; color: #fff;">
            {% for mensagem in messages %}
                <li style="list-style: none;" {% if mensagem.tags %}class="alert alert-{{message.tags}}"{% endif %}>{{mensagem}}</li>
            {% endfor %}
        </ul>
    {% endif %}
    <section class="cadastro">
        <h1>Cadastro de Veículos</h1>


        <form id='form' class='form' method='POST'>{% csrf_token %}
            <label for="nomeCarro">Nome do Carro:</label>
            <input type="text" id="nome" name="nome" required>

            <label for="placaCarro">Placa do Carro:</label>
            <input type="text" id="placa" name="placa" required>

            <label for="anoCarro">Ano do Carro:</label>
            <input type="number" id="ano" name="ano" required>

            <label for="corCarro">Cor do Carro:</label>
            <input type="text" id="cor" name="cor" required>

            <label for="donoCarro">Dono do Carro:</label>
            <input type="text" id="dono" name="dono" required>
    
            <input class="button" type="submit" value="Enviar">
        </form>
    </section>
{% endblock %}
</body>
</html>