{% load static %}

<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Auto Escola do Lemão</title>
    <link rel="stylesheet" href="{% static 'style/style.css' %}">
</head>
<body>
    <header class="header">
        <a id="logo" href="#"><img src="{% static 'images/logosemfundo.png' %}" alt="Lemao Logo"></a>

        <div>
            <ul id="navbar">
                <li class="lis"><a href="{% url 'abre_index' %}">Home</a></li>
                <li class="lis"><a href="#">Carros</a></li>
                <li class="lis"><a href="{% url 'drivers' %}">Motoristas</a></li>
                <li class="lis"><a href="agenda.html">Agenda</a></li>
            </ul>
        </div>
    </header>
    <h1>Carros</h1>
</body>
</html>