{% load static %}
{% load bootstrap5 %}
{% block content %}

    <!-- Base Start -->
    {% include 'base.html' %}
    <!-- Base End -->

    <!-- Navbar Start -->
    {% include 'navbar.html' %}
    <!-- Navbar End -->

    <form method="post">
        {% csrf_token %}
        <p>Tem certeza que deseja deletar o carro "{{ object }}"?</p>
        {% buttons %}
            <button type="submit" class="btn btn-danger">Confirmar</button>
            <button type="submit" class="btn btn-danger">
                <a href="{% url 'index' %}">Cancelar</a>
            </button>
        {% endbuttons %}
    </form>

    <!-- Footer Start -->    
    {% include 'footer.html' %}
    <!-- Footer End -->    


{% endblock %}
<script src="https://kit.fontawesome.com/c9237383f1.js" crossorigin="anonymous"></script>
</body>
</html>