{% load static %}
{% block content %}

    <!-- Base Start -->    
    {% include 'base.html' %}
    <!-- Base End -->  

    
    <!-- Navbar Start -->
    {% include 'navbar.html' %}
    <!-- Navbar End -->
    
    <section id="services">
        <div class="pro-container">
            <div class="pro">
                <img src="{% static 'images/carroadd.png' %}" alt="carrocadastrar">
                <div class="des">
                    <a href="{% url 'cad_carros' %}">Cadastrar Carros</a>
                </div>
            </div>
            <div class="pro">
                <img src="{% static 'images/carropesquisa.png' %}" alt="carropesquisa">
                <div class="des">
                    <a href="{% url 'cons_carros' %}">Consultar Carros</a>
                </div>
            </div>
        </div>
    </section>

    <!-- Footer Start -->    
    {% include 'footer.html' %}
    <!-- Footer End -->  

{% endblock %}
</body>
</html>