{% load static %}
{% block content %}

    <!-- Base Start -->    
    {% include 'base.html' %}
    <!-- Base End -->  


    <!-- Navbar Start -->
    {% include 'navbar.html' %}
    <!-- Navbar End -->

    <section class="container">
        <form id="form" class="form" method="POST" action="{% url 'cons_drivers' %}">{% csrf_token %}
            <div class="form-content">
                <br>
                <label for="drivers">Driver</label>
                <input type="text" id="nome" name="nome" placeholder="Digite o nome do motorista">
            </div>
            <div class="form-content">
                <br>
                <label for="drivers">CNH</label>
                <input type="text" id="cnh" name="cnh" placeholder="Digite o tipo de CNH">
            </div>

            <div class="botoes">
                <div class="botao_consultar">
                    <button id="btnConsultar" type="submit" class="button">Consultar</button>
                </div>
                <div class="botao_consultar">
                    <button id="btnConsultar" type="submit" class="button">Limpar Filtros</button>
                </div>
            </div>
        </form>
        <hr>

        <table>
            <tr>
                <th>Nome</th>
                <th>Data</th>
                <th>CNH</th>
            </tr>
            {% for driver in drivers %}
            <tr>
                <td>{{driver.nome}}</td>
                <td>{{driver.data}}</td>
                <td>{{driver.cnh}}</td>
                <td><a href="{% url 'upd_driver' driver.pk %}"><i class="fa-solid fa-pen-to-square"></i></a></td>
                <td><a href="{% url 'del_driver' driver.pk %}"><i class="fa-solid fa-trash"></i></a></td>
            <tr>
            {% endfor %}
        </table>
    </section>

    <!-- Footer Start -->    
    {% include 'footer.html' %}
    <!-- Footer End -->  

{% endblock %}
<script src="https://kit.fontawesome.com/c9237383f1.js" crossorigin="anonymous"></script>
</body>
</html>