{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Consultar Carros</title>
    <link rel="stylesheet" href="{% static 'style/cons_carros.css' %}">
</head>
<body>
    <header class="header">
        <a id="logo" href="#"><img src="{% static 'images/logosemfundo.png' %}" alt="Lemao Logo"></a>

        <div>
            <ul id="navbar">
                <li class="lis"><a href="{% url 'index' %}">Home</a></li>
                <li class="lis"><a href="{% url 'carros' %}">Carros</a></li>
                <li class="lis"><a href="{% url 'drivers' %}">Motoristas</a></li>
                <li class="lis"><a href="agenda.html">Agenda</a></li>
            </ul>
        </div>
    </header>
    <section class="container">
        <form id="form" class="form" method="POST" action="{% url 'cons_carros' %}">{% csrf_token %}
            <div class="form-content">
                <br>
                <label for="carros">Carro</label>
                <input type="text" id="nomeCarro" name="nomeCarro" placeholder="Digite o nome do carro">
            </div>
            <div class="form-content">
                <br>
                <label for="carros">Placa</label>
                <input type="text" id="placaCarro" name="placaCarro" placeholder="Digite a placa do carro">
            </div>
            <div class="form-content">
                <br>
                <label for="carros">Dono</label>
                <input type="text" id="donoCarro" name="donoCarro" placeholder="Digite o dono do carro">
            </div>

            <div class="botoes">
                <div class="botao_consultar">
                    <button id="btnConsultar" type="submit" class="button">Consultar</button>
                </div>
                <div class="botao_consultar">
                    <button id="btnConsultar" type="submit" class="button">Limpar Filtros</button>
                </div>
            </div>
        </form>
        <hr>

        <table>
            <tr>
                <th>Nome</th>
                <th>Placa</th>
                <th>Ano</th>
                <th>Cor</th>
                <th>Dono</th>
            </tr>
            {% for igs in dados_carros %}
            <tr>
                <td>{{igs.nome}}</td>
                <td>{{igs.placa}}</td>
                <td>{{igs.ano}}</td>
                <td>{{igs.cor}}</td>
                <td>{{igs.dono}}</td>
                <td><a href="/edit_carros/{{igs.id}}"><i class="fa-solid fa-pen-to-square"></i></a></td>
                <td><a href="/delete_carro/{{igs.id}}"><i class="fa-solid fa-trash"></i></a></td>
            <tr>
            {% endfor %}
        </table>
    </section>

<script src="https://kit.fontawesome.com/c9237383f1.js" crossorigin="anonymous"></script>
</body>
</html>