{% load static %}
{% block content %}

    <!-- Base Start -->    
    {% include 'base.html' %}
    <!-- Base End -->   


    <!-- Navbar Start -->
    {% include 'navbar.html' %}
    <!-- Navbar End -->

    <section class="container">
        <form id="form" class="form" method="POST" action="{% url 'cons_carros' %}">{% csrf_token %}
            <div class="form-content">
                <br>
                <label for="carros">Carro</label>
                <input type="text" id="nome" name="nome" placeholder="Digite o nome do carro">
            </div>
            <div class="form-content">
                <br>
                <label for="carros">Placa</label>
                <input type="text" id="placa" name="placa" placeholder="Digite a placa do carro">
            </div>
            <div class="form-content">
                <br>
                <label for="carros">Dono</label>
                <input type="text" id="dono" name="dono" placeholder="Digite o dono do carro">
            </div>

            <div class="botoes">
                <div class="botao_consultar">
                    <button id="btnConsultar" type="submit" class="button">Consultar</button>
                </div>
                <div class="botao_consultar">
                    <button id="btnConsultar" type="submit" class="button">Limpar Filtros</button>
                </div>
            </div>
        </form>
        <hr>

        <table>
            <tr>
                <th>Nome</th>
                <th>Placa</th>
                <th>Ano</th>
                <th>Cor</th>
                <th>Dono</th>
            </tr>
            {% for carro in carros %}
            <tr>
                <td>{{carro.nome}}</td>
                <td>{{carro.placa}}</td>
                <td>{{carro.ano}}</td>
                <td>{{carro.cor}}</td>
                <td>{{carro.dono}}</td>
                <td><a href="{% url 'upd_carro' carro.pk %}"><i class="fa-solid fa-pen-to-square"></i></a></td>
                <td><a href="{% url 'del_carro' carro.pk %}"><i class="fa-solid fa-trash"></i></a></td>
            <tr>
            {% endfor %}
        </table>
    </section>

    <!-- Footer Start -->    
    {% include 'footer.html' %}
    <!-- Footer End -->  


{% endblock %}
<script src="https://kit.fontawesome.com/c9237383f1.js" crossorigin="anonymous"></script>
</body>
</html>