{% load static %}

<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Auto Escola do Lemão</title>
    <link rel="stylesheet" href="{% static 'style/carros.css' %}">
</head>
<body>
    <header class="header">
        <a id="logo" href="#"><img src="{% static 'images/logosemfundo.png' %}" alt="Lemao Logo"></a>

        <div>
            <ul id="navbar">
                <li class="lis"><a href="{% url 'index' %}">Home</a></li>
                <li class="lis"><a href="{% url 'carros' %}">Carros</a></li>
                <li class="lis"><a href="#">Motoristas</a></li>
                <li class="lis"><a href="agenda.html">Agenda</a></li>
            </ul>
        </div>
    </header>

    <section id="services">
        <div class="pro-container">
            <div class="pro">
                <img src="{% static 'images/motoadd.png' %}" alt="carrocadastrar">
                <div class="des">
                    <a href="{% url 'cad_drivers' %}">Cadastrar Motoristas</a>
                </div>
            </div>
            <div class="pro">
                <img src="{% static 'images/motopesquisa.png' %}" alt="carropesquisa">
                <div class="des">
                    <a href="{% url 'cons_drivers' %}">Consultar Motoristas</a>
                </div>
            </div>
        </div>
    </section>

</body>
</html>