{% load static %}
{% block content %}

    <!-- Base Start -->    
    {% include 'base.html' %}
    <!-- Base End -->  


    <!-- Navbar Start -->
    {% include 'navbar.html' %}
    <!-- Navbar End -->

    <section id="services">
        <div class="pro-container">
            <div class="pro">
                <img src="{% static 'images/motoadd.png' %}" alt="carrocadastrar">
                <div class="des">
                    <a href="{% url 'cad_drivers' %}">Cadastrar Motoristas</a>
                </div>
            </div>
            <div class="pro">
                <img src="{% static 'images/motopesquisa.png' %}" alt="carropesquisa">
                <div class="des">
                    <a href="{% url 'cons_drivers' %}">Consultar Motoristas</a>
                </div>
            </div>
        </div>
    </section>

    <!-- Footer Start -->    
    {% include 'footer.html' %}
    <!-- Footer End -->  


{% endblock %}
</body>
</html>