{% load static %}
<footer id="footer" class="section-p1">
    <div class="col">
        <img class="logo" src="{% static 'images/logosemfundo.png' %}" alt="">
    </div>
    <div class="col">
        <h4>Contato</h4>
        <p><strong>Telefone: </strong> (19) 99999-9999</p>
        <p><strong>Horário: </strong> Seg - Sab, 08:00 - 19:00</p>
        <div class="follow">
            <h4>Siga-nos</h4>
            <div class="icon">
                <i class="lni-instagram"></i>
                <i id="text">@lemaodriving</i>
            </div>
        </div>
    </div>

    <div class="col">
        <h4>Sobre</h4>
        <a href="#footer">Sobre nós</a>
        <a href="#footer">Contatos</a>
    </div>
    <div class="copyright">
        <p>&copy; 2023, Alemão Dev - Auto Escola do Lemão</p>
    </div>

</footer>