{% load static %}
{% block content %}

<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Auto Escola do Lemão</title>
    <link rel="stylesheet" href="{% static 'style/style.css' %}">
</head>
<body>
    
    <!-- Navbar Start -->
    {% include 'navbar.html' %}
    <!-- Navbar End -->

    <div class="page">
        <form method="post" class="formLogin" action="{% url 'login' %}">{% csrf_token %}
            <h1>Login</h1>
            <p>Digite os seus dados de acesso no campo abaixo</p>

            <label for="email">E-mail</label>
            <input type="email" id="username" name="username" placeholder="Digite seu e-mail" autofocus="true" />

            <label for="password">Senha</label>
            <input type="password" id="password" name="password" placeholder="Digite sua senha" />

            <button type="submit" value="login" class="btn_conf_cancel btn_confirmar" >Acessar</button>
            <input type="hidden" name="next" value="{{ next }}">

        </form>
    </div>



{% endblock %}
</body>
</html>