{% load static %}
{% block content %}

<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Auto Escola do Lemão</title>
    <link rel="stylesheet" href="{% static 'style/style.css' %}">
</head>
<body>
    
    <!-- Navbar Start -->
    {% include 'navbar.html' %}
    <!-- Navbar End -->

    <div class="page">
        <form method="post" class="formLogin">
            <h1>Login</h1>
            <p>Digite os seus dados de acesso no campo abaixo</p>
            <label for="email">E-mail</label>
            <input type="email" placeholder="Digite seu e-mail" autofocus="true" />
            <label for="password">Senha</label>
            <input type="password" placeholder="Digite sua senha" />
            <input type="submit" class="button" value="Acessar" />
        </form>
    </div>



{% endblock %}
</body>
</html>