.section p1{
    padding: 40px 40px !important;
}

footer {
    margin-top: 8rem;
    background: #002650;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    border-top: #ffbf3f 3px solid;
}

footer .col {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;
}

footer .logo {
    margin-bottom: 30px;
    width: 140px !important;
    height: auto !important;
}

footer h4 {
    color: #ffbf3f;
    font-size: 14px;
    padding-bottom: 20px;
}

footer p {
    color: #fff;
    font-size: 13px;
    margin: 0 0 8px 0;
}

footer a {
    color: #fff;
    font-size: 13px;
    text-decoration: none;
    margin-bottom: 10px;
}

footer .follow {
    margin-top: 20px;
}

footer .follow i {
    color: #fff;
    padding-right: 4px;
}

footer .follow #text {
    text-align: center;
}

footer .follow i:hover,
footer a:hover {
    color: #919191;

}

footer .copyright {
    color: #fff;
    width: 100%;
    text-align: center;
}